##########MQTT Broker setup##########
brokerIp=192.168.148.128
brokerPort=1883
userId=testuser
userPassword=passwd


##########MongoDB##########
MongoDBUploaderEnable=NO
MongoDBsubscribeTopic=ALL
MongoDBAddress=192.168.148.128
MongoDBPort=27017
MongoDBuserId=trusted-solutions
MongoDBuserPw=Trusted123


##########LoRaNodeTcpClient##########
LoRaNodeClientEnable=YES
LoRaNodeClientPortName=COM10
LoRaNodeClientBaudRate=9600
LoRaNodeClientNeedReJoin=YES

#all loraNode address, split with [,]
LoRaNodeClientSlaveNodes=67002b

#polling the node wait for response timeout
LoRaNodeClientResponseTimeout=3000


