##########MQTT Broker setup##########
MQTTBrokerEnable=YES
brokerIp=127.0.0.1
brokerPort=1883
userId=testuser
userPassword=passwd


##########MongoDB##########
MongoDBUploaderEnable=YES
MongoDBsubscribeTopic=ALL
MongoDBAddress=192.168.148.128
MongoDBPort=27017
MongoDBuserId=trusted-solutions
MongoDBuserPw=Trusted123


##########LoRaNodeClient##########
LoRaNodeClientEnable=YES
LoRaNodeClientPortName=COM10
LoRaNodeClientBaudRate=9600
LoRaNodeClientNeedReJoin=YES

#all loraNode address, split with [,]
LoRaNodeClientSlaveNodes=6c0026

#polling the node wait for response timeout
LoRaNodeClientResponseTimeout=3000


