##########MQTT Broker setup##########
brokerIp=127.0.0.1
brokerPort=1883
userId=testuser
userPassword=passwd

##########MongoDB##########
MongoDBUploaderEnable=NO
MongoDBsubscribeTopic=#
MongoDBAddress=192.168.156.125
MongoDBPort=27017
MongoDBuserId=trusted-solutions
MongoDBuserPw=Trusted123


##########S76sTcpClient##########
S76sTcpClientEnable=YES
S76sTcpClientPortName=COM3
S76sTcpClientBaudRate=9600
S76sNeedReJoin=YES
#all loraNode address, split with [,]
S76sClientSlaveNodes=10 0 0,10 0 1,10 0 2


##########LoRaNodeTcpClient##########
LoRaNodeClientEnable=NO
LoRaNodeClientPortName=COM3
LoRaNodeClientBaudRate=9600
LoRaNodeClientNeedReJoin=YES

#all loraNode address, split with [,]
LoRaNodeClientSlaveNodes=6c0026,65002a,29002b
#LoRaNodeClientSlaveNodes=25002b,4b002b
#6c0026,65002a,4b002b,25002b
#polling the node wait for response timeout
LoRaNodeClientResponseTimeout=3000


##########ThingsBoardProxy##########
ThingsBoardEnable=NO
ThingsBoardBrokerIp=104.199.179.210
ThingsBoardBrokerPort=1884
token=hMz0lKjSolGd6951NGk0
ThingsBoardSubscribeTopic=#
