#Mapping topic id to topic text[id=topic]
#1=/farming/sensor/analogLight
1=/station-L/HP20x_Temperature
2=/station-L/HP20x_Altitude
3=/station-L/HP20x_Pressure
4=/station-L/UVsensor
5=/station-L/Digital_Light
6=/station-L/SHT2x_Humidity
7=/station-L/SHT2x_Termperature
8=/station-L/DustSensor
9=/station-W/WindGust
10=/station-W/WindSpeed
11=/station-W/WindDirection
12=/station-W/Rain

14=/station-W/Battery
15=/station-L/Battery
16=/station-L/Moisture
17=/station-W/SHT2x_Humidity
18=/station-W/SHT2x_Termperature
19=/station-W/UVsensor

97=/DS1-Test/Battery
98=/DS1-Test/UV
99=/DS1-Test/Solar
